<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-11">
            <i class='fa fa-twitter'></i>
            <span class='glyphicon glyphicon-eur'></span>
            </div>
            <div class="col-sm-11">
                © Uglymona, Inc. Copyright 2014-2016, English, U.S. All Rights Reserved.
            </div>
            <div class="col-sm-11">
                Credits I Terms Privacy I Safety Guides
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-4">
                <p>Where Who You Are Has Never Been So Hot</p>
                <p>Beauty In The City</p>
            </div>
            <div class="col-sm-4">
                <p>The Romantic Power of Movies</p>
                <p>Vlog Romance</p>
                <p>Photographs and Love</p>
            </div>
            <div class="col-sm-4">
                <p>Life In New York City</p>
                <p>The FlipBook of Mona</p>
                <p>Contact Us</p>
            </div>
        </div>
    </div>
</div>
