<nav class="container">
    <div class="wrapper navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed bmd-ripple" data-toggle="collapse" data-target="#ugly_navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="ugly_navbar">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in vm.tabMenu">
                    <a href="" class="bmd-ripple" ng-click="vm.goTab($index)" ng-class="{active : vm.isActive($index), isactive : vm.curentActive($index)}">{{menu}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
