<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed bmd-ripple" data-toggle="collapse" data-target="#ugly_navhead">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand bmd-ripple" href=""></a>
            <div class="title">LOVE & RELATIONSHIPS BLOG</div>
        </div>
        <div class="" id="ugly_navhead">            
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon bmd-addon flaticon-search100"></span>
                        <div class="bmd-field-group">
                            <input type="text" class="input-sm bmd-input" required="" autocomplete="off">
                            <span class="bmd-bar bmd-light"></span>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-danger bmd-ripple bmd-ripple bmd-bg-red-700 search" type="button">GO!</button>
                        </span>
                        <span class="bmd-field-feedback"></span>
                    </div>
                </div>
            </form>            
        </div>
    </div>
</nav>
