<div class="rom_header" style="text-align:center">
    <div class="rom_title">
        The Romantic Power
        <br> of Movies
        </br>
    </div>
</div>
<div class="container">
    <div class="rom_body wrapper">
        <div class="filter_body isP">
            <div class="filter_cell">
                <div class="odd ">
                </div>
                <div class="btn bmd-ripple bodd">
                    Happy Full Moon
                </div>
            </div>
            <div class="filter_cell">
                <div class="even active">
                </div>
                <div class="btn bmd-ripple beven">
                    Happy Full Moon
                </div>
            </div>
            <div class="filter_cell">
                <div class="odd">
                </div>
                <div class="btn bmd-ripple bodd">
                    Happy Full Moon
                </div>
            </div>
            <div class="filter_cell">
                <div class="even">
                </div>
                <div class="btn bmd-ripple beven">
                    Happy Full Moon
                </div>
            </div>
        </div>
        <div class="filter_body isM">
            <div class="col-lg-9">
                <div role="presentation" class="dropdown bmd-select form-control">
                    <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false" target="_self">
                        <span class="bmd-selected-value">Selected Filter</span>
                        <span class="caret"></span>
                    </a>
                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-value="Action">Happy Full Moon1</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-value="Another">Happy Full Moon2</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">Happy Full Moon3</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">Happy Full Moon4</a></li>
                    </ul>
                    <span class="bmd-bar"></span>
                </div>
            </div>
        </div>
        <!-- items being paged -->
        <div class="main_body">
            <div class="con_body">
                <div class="rom_cell" ng-repeat="item in rom.items">
                    <div class="cell_text">
                        <div class="title">
                            Idea #{{item}}: Harverst some...
                        </div>
                        <div class="content">
                            There is a long list of benefits of sharing a regular date night with you partner!
                        </div>
                    </div>
                    <div class="cell_img">
                        <img src="./assets/rom/1.png">
                        </img>
                    </div>
                </div>
            </div>
            <div class="social">
                <div class="title">
                    Social Counters
                </div>
                <div class="googlepp">
                    <span class="icon">
                    </span>
                    <span class="text">
                        Fans
                    </span>
                </div>
                <div class="twitter">
                    <span class="icon">
                    </span>
                    <span class="text">
                        Followers
                    </span>
                </div>
                <div class="pin">
                    <span class="icon">
                    </span>
                    <span class="text">
                        Subscribers
                    </span>
                </div>
                <div class="title">
                    See More
                </div>
                <div class="social_group">
                    <!-- <span class="so_1 bmd-ripple">
                    </span> -->
                    <!-- <span class="so_2 bmd-ripple">
                    </span> -->
                    <span class="so_3 bmd-ripple">
                    </span>
                    <!-- <span class="so_4 bmd-ripple">
                    </span> -->
                    <span class="so_5 bmd-ripple">
                    </span>
                    <span class="so_6 bmd-ripple">
                    </span>
                    <span class="so_7 bmd-ripple">
                    </span>
                    <span class="so_8 bmd-ripple">
                    </span>
                    <span class="so_9 bmd-ripple">
                    </span>
                    <!-- <span class="so_10 bmd-ripple">
                    </span>
                    <span class="so_11 bmd-ripple">
                    </span> -->
                </div>
                <div class="title">
                    Tags
                </div>
                <div class="tag_body">
                    <a class="btn btn-default bmd-ripple bmd-ink-grey-400" ng-repeat="tag in rom.tags">
                        {{tag}}
                    </a>
                </div>
            </div>
        </div>
        <!-- pager -->
        <paging page="currentPage" page-size="5" total="100" text-first="first" text-last="last" text-next="next" text-prev="prev" text-title-page="Page {page} Hover Over" text-title-first="First hover" text-title-last="Last hover" text-title-next="Next hover" text-title-prev="Prev hover" show-prev-next="true" show-first-last="true" class='isP'>
        </paging>
        <paging-m class='isM ng-isolate-scope'>
            <ul data-ng-class="ulClass" class="pagination">
                <li title="First hover" data-ng-class="Item.liClass" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">first</a> </li>
                <li title="Prev hover" data-ng-class="Item.liClass"  class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">prev</a> </li>                
                <li title="Next hover" data-ng-class="Item.liClass"  class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">next</a> </li>
                <li title="Last hover" data-ng-class="Item.liClass"  class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">last</a> </li>
            </ul>
        </paging-m>
    </div>
</div>
