<div class="vlog_header" style="text-align:center">
    <div class="vlog_title">
        vlog romance
    </div>
</div>
<div class="container">
    <div class="vlog_body wrapper">
        <div class="content">
            <div class="main_view">
                <div class="title">
                    the title of the video
                </div>
                <div class="video">
                    <iframe allowfullscreen="" frameborder="0" height="345" src="http://www.youtube.com/embed/ITswHbJPHhQ?autoplay=0&cc_load_policy=1&loop=1&playlist=ITswHbJPHhQ" width="100%">
                    </iframe>
                </div>
                <div class="text">
                    There is a long list of benefits of sharing a regular date night with you partner! Couples who take this time to nurture their relationshop with one another are more likely to enjoy high-quality relationships. Regular dates offer couples the opportunity to enjoy each... pany and let go of the stresses that come with day-today life.
                </div>
            </div>
            <!-- items being paged -->
            <div class="vlog_cell" ng-repeat="item in vlog.items">
                <div class="cell_text">
                    <div class="title">
                        Idea #{{item}}: Harverst some...
                    </div>
                    <div class="content">
                        There is a long list of benefits of sharing a regular date night with you partner! Couples who take this time to nurture their relationshop with one another are more likely to enjoy high-quality relationships. Regular dates offer couples the opportunity to enjoy each... pany and let go of the stresses that come with day-today life.
                    </div>
                </div>
                <div class="cell_video">
                    <iframe allowfullscreen="" frameborder="0" height="345" src="http://www.youtube.com/embed/Jb7ruu3rKtU?autoplay=0&cc_load_policy=1&loop=1&playlist=Jb7ruu3rKtU" width="100%">
                    </iframe>
                </div>
            </div>
        </div>
        <!-- pager -->
        <paging page="currentPage" page-size="5" total="100" text-first="first" text-last="last" text-next="next" text-prev="prev" text-title-page="Page {page} Hover Over" text-title-first="First hover" text-title-last="Last hover" text-title-next="Next hover" text-title-prev="Prev hover" show-prev-next="true" show-first-last="true" class='isP'>
        </paging>
        <paging-m class='isM ng-isolate-scope'>
            <ul data-ng-class="ulClass" class="pagination">
                <li title="First hover" data-ng-class="Item.liClass" class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">first</a> </li>
                <li title="Prev hover" data-ng-class="Item.liClass"  class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">prev</a> </li>                
                <li title="Next hover" data-ng-class="Item.liClass"  class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">next</a> </li>
                <li title="Last hover" data-ng-class="Item.liClass"  class="ng-scope"> <a href="" data-ng-class="Item.aClass" data-ng-click="Item.action()" class="ng-binding">last</a> </li>
            </ul>
        </paging-m>
    </div>
</div>
